- page_title "Merge Requests"
- header_title  "Merge Requests", merge_requests_dashboard_path(assignee_id: current_user.id)

.project-issuable-filter
  .controls
    = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "New Merge Request"

  = render 'shared/issuable/filter', type: :merge_requests

.prepend-top-default
  = render 'shared/merge_requests'
