%h1.title
  %a
    GitLab Org
  %a.project-item-select-holder.js-projects-dropdown-toggle{href: "/gitlab-org/gitlab-test"}
    GitLab Test
    %span.fa.fa-chevron-down.dropdown-toggle-caret
    %input#project_path.project-item-select.js-projects-dropdown.ajax-project-select{type: "hidden", name: "project_path", "data-include-groups" => "false"}
